<!-- this code pulls most of the html formatting from the ims_base.html file as a template -->
{% extends "ims/ims_base.html" %}
{% block content %}
    <!--  Page Content Area  -->
    <!-- User Info Card -->
    <div class="card bg-light p-3 mt-3" style="width: 30rem;">
        <div class="card-body">
            <h3 class="card-title">User Info: Account# {{ user.pk }}</h3>
            <h6 class="card-subtitle mb-2 text-muted">{{ user.first_name }} {{ user.last_name }}</h6>
            <p class="card-text">Username: {{ user.username }}<br>
            Email: {{ user }}<br>
            {% if user.is_admin %}
                Role: Admin
            {% else %}
                Role: General User
            {% endif %}
            </p>
        </div>
    </div>

    <!-- Account Info Card -->
    <div class="card bg-light p-3 mt-3"   style="width: 30rem;">
        <div class="card-body">
            <h3 class="card-title">Account#: {{ eq_acct }}</h3>
            <h6 class="card-subtitle mb-2 text-muted">Total Items: {{ total_items }}</h6>
            <table class="table">
                <tr class="p-3">
                    <th>Nomenclature</th>  <!-- This table is the list of End Items on the card -->
                    <th>Item ID</th>
                    <th>Serial#</th>
                    <th>Part#</th>
                </tr class="p-3">
                {% for item in end_items %}
                    <tr class="p-2">
                        <td>{{ item.nomenclature }}</td>
                        <td>{{ item.pk }}</td>
                        <td>{{ item.serial_number }}</td>
                        <td>{{ item.part_number }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
