{% extends "ims/ims_base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- Main Page Content -->
    <div class="content-area">
        <form method="post">{% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><h1>Update End Item</h1></legend>
                    {{ u_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info mt-2 p-50" type="submit">Update</button>
                <a class="btn btn-outline-danger mt-2 p-50" href="{% url 'delete_item' item.end_item_id %}">Remove</a>
            </div>
        </form>
    </div>
{% endblock content %}
