{% extends "ims/ims_base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- Main Content Section -->
    <div class="content-area">
        <form method="POST" action="{% url 'newItem' %}">{% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><h1>Add New End Item</h1></legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info mt-2 p-50" type="submit" value="Select">Save</button>
            </div>
        </form>
    </div>
{% endblock content %}
